$loader: 80px;
$circle: $loader / 9;
$blur: 2px;

.aoj-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur($blur);
    cursor: progress;

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: $loader;
        height: $loader;
        margin: auto;
        backdrop-filter: blur($blur);
    }

    .loader .circle {
        position: absolute;
        width: $loader;
        height: $loader;
        opacity: 0;
        transform: rotate(225deg);
        animation-iteration-count: infinite;
        animation-name: orbit;
        animation-duration: 5.5s;
    }

    .loader .circle:after {
        content: '';
        position: absolute;
        width: $circle;
        height: $circle;
        border-radius: $circle / 2;
        background: #3b3a39;
        box-shadow: 0 0 4px #3b3a39b3;
    }

    .loader .circle:nth-child(2) {
        animation-delay: 240ms;
    }

    .loader .circle:nth-child(3) {
        animation-delay: 480ms;
    }

    .loader .circle:nth-child(4) {
        animation-delay: 720ms;
    }

    .loader .circle:nth-child(5) {
        animation-delay: 960ms;
    }

    @keyframes orbit {
        0% {
            transform: rotate(225deg);
            opacity: 1;
            animation-timing-function: ease-out;
        }

        7% {
            transform: rotate(345deg);
            animation-timing-function: linear;
        }

        30% {
            transform: rotate(455deg);
            animation-timing-function: ease-in-out;
        }

        39% {
            transform: rotate(690deg);
            animation-timing-function: linear;
        }

        70% {
            transform: rotate(815deg);
            opacity: 1;
            animation-timing-function: ease-out;
        }

        75% {
            transform: rotate(945deg);
            animation-timing-function: ease-out;
        }

        76% {
            transform: rotate(945deg);
            opacity: 0;
        }

        100% {
            transform: rotate(945deg);
            opacity: 0;
        }
    }
}


.aoj-dark {
    .aoj-loading {
        .loader .circle:after {
            background: #fff;
            box-shadow: 0 0 4px #ffffffb3;
        }
    }
}